FrogDetectiveClient.sln
bin/Debug/net46/FrogDetectiveClient.dll
bin/Debug/net46/FrogDetectiveClient.pdb
bin/Debug/netstandard2.1/FrogDetectiveClient.deps.json
bin/Debug/netstandard2.1/FrogDetectiveClient.dll
bin/Debug/netstandard2.1/FrogDetectiveClient.pdb
obj/FrogDetectiveClient.csproj.nuget.dgspec.json
obj/FrogDetectiveClient.csproj.nuget.g.props
obj/FrogDetectiveClient.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net46/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/Debug/net46/FrogDetectiveClient.AssemblyInfo.cs
obj/Debug/net46/FrogDetectiveClient.AssemblyInfoInputs.cache
obj/Debug/net46/FrogDetectiveClient.assets.cache
obj/Debug/net46/FrogDetectiveClient.csproj.AssemblyReference.cache
obj/Debug/net46/FrogDetectiveClient.csproj.CoreCompileInputs.cache
obj/Debug/net46/FrogDetectiveClient.csproj.FileListAbsolute.txt
obj/Debug/net46/FrogDetectiveClient.dll
obj/Debug/net46/FrogDetectiveClient.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net46/FrogDetectiveClient.pdb
obj/Debug/net46/MyPluginInfo.cs
obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netstandard2.1/FrogDetectiveClient.AssemblyInfo.cs
obj/Debug/netstandard2.1/FrogDetectiveClient.AssemblyInfoInputs.cache
obj/Debug/netstandard2.1/FrogDetectiveClient.assets.cache
obj/Debug/netstandard2.1/FrogDetectiveClient.csproj.AssemblyReference.cache
obj/Debug/netstandard2.1/FrogDetectiveClient.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/FrogDetectiveClient.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/FrogDetectiveClient.dll
obj/Debug/netstandard2.1/FrogDetectiveClient.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.1/FrogDetectiveClient.pdb
bin/Debug/net6.0/FrogDetectiveAP.deps.json
bin/Debug/net6.0/FrogDetectiveAP.dll
bin/Debug/net6.0/FrogDetectiveAP.pdb
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/FrogDetectiveAP.dll
obj/Debug/net6.0/FrogDetectiveAP.pdb
obj/Debug/net6.0/FrogDetectiveClient.AssemblyInfo.cs
obj/Debug/net6.0/FrogDetectiveClient.AssemblyInfoInputs.cache
obj/Debug/net6.0/FrogDetectiveClient.assets.cache
obj/Debug/net6.0/FrogDetectiveClient.csproj.AssemblyReference.cache
obj/Debug/net6.0/FrogDetectiveClient.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/FrogDetectiveClient.csproj.FileListAbsolute.txt
obj/Debug/net6.0/FrogDetectiveClient.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MyPluginInfo.cs
obj/Debug/net6.0/ref/FrogDetectiveAP.dll
obj/Debug/net6.0/refint/FrogDetectiveAP.dll
